@import "https://fonts.googleapis.com/css?family=Inter:0,700;0,400;0,500&display=swap";

.MainSection_2_339 {
  flex-flow: column;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: 896px;
  padding: 32px 152px 119px;
  display: flex;
  margin: 0 auto;
}

.Heading_1_2_343 {
  flex-direction: column;
  align-items: center;
  width: 592px;
  display: flex;
}

.InterviewMark_2_344 {
  color: var(--color-azure-68, #60a5fa);
  text-align: center;
  font-family: var(--font-family-Font-1, Inter);
  font-size: var(--font-size-60, 60px);
  font-style: normal;
  font-weight: var(--font-weight-700, 700);
  line-height: var(--font-size-60, 60px);
  display: inline-block;
}

.Your_24_7SocialMediaExpert_2_348 {
  color: var(--color-azure-78, #93c5fd);
  text-align: center;
  font-family: var(--font-family-Font-1, Inter);
  font-size: var(--line-height-20, 20px);
  font-style: normal;
  font-weight: var(--font-weight-400, 400);
  line-height: var(--line-height-28, 28px);
  width: 592px;
  display: inline-block;
  margin-bottom: 20px;
}

.Mark_1_3_27 {
  aspect-ratio: 4/5;
  background: #d3d3d3;
  width: 120px;
  height: 150px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.OverlayBorderShadowOverlayBlur_2_358 {
  border: 1px solid rgba(51, 65, 85, 0.5);
  background: rgba(30, 41, 59, 0.4);
  backdrop-filter: blur(6px);
  box-sizing: border-box;
  border-radius: 12px;
  flex-flow: column;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
  width: 592px;
  display: flex;
  overflow: hidden;
  box-shadow:
    0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
}

.HorizontalBorder_2_365 {
  border-bottom: 1px solid rgba(51, 65, 85, 0.5);
  box-sizing: border-box;
  width: 100%;
  height: 33px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Component_1_2_366,
.Component_2_3_29,
.Component_3_3_32,
.Component_4_3_38 {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
}

.CreateEngagingContent_2_368,
.SchedulePosts_2_373,
._7Engagement_2_376,
.TrackPerformance_2_379 {
  color: var(--color-white-solid, #fff);
  font-family: var(--font-family-Font-1, Inter);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  display: inline-block;
}

.Container_2_380 {
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: auto;
  height: 250px;
}

.BackgroundShadow_2_381,
.BackgroundShadow_2_385,
.BackgroundShadow_3_41 {
  border-radius: 16px 16px 16px 0;
  background: linear-gradient(
    135deg,
    var(--color-azure-60, #3b82f6) 0%,
    var(--color-azure-53, #2563eb) 100%
  );
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  display: inline-flex;
  overflow: hidden;
  box-shadow:
    0 10px 15px -3px rgba(59, 130, 246, 0.2),
    0 4px 6px -4px rgba(59, 130, 246, 0.2);
  margin-bottom: 10px;
  align-self: flex-start;
  max-width: 80%;
}

.HiIMMarkYourPotentialSocialMediaManager_2_384,
.IDLoveToLearnAboutYourBusinessAndSocialMediaGoals_2_386,
.WhatSYourBiggestSocialMediaChallengeRightNow_3_42 {
  color: var(--color-white-solid, #fff);
  font-family: var(--font-family-Font-1, Inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  display: inline-block;
}

.BackgroundShadow_4_301 {
  border-radius: 16px 16px 0 16px;
  background: var(--color-white-solid, #fff);
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  display: inline-flex;
  overflow: hidden;
  box-shadow:
    0 10px 15px -3px rgba(59, 130, 246, 0.2),
    0 4px 6px -4px rgba(59, 130, 246, 0.2);
  margin: 0 16px 16px;
  align-self: flex-end;
}

.INeedHelpInCaptions_4_302 {
  color: var(--color-azure-27, #334155);
  font-family: var(--font-family-Font-1, Inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  display: inline-block;
}

.Form_29_56 {
  border-top: 1px solid rgba(51, 65, 85, 0.5);
  box-sizing: border-box;
  align-items: center;
  gap: 12px;
  width: 100%;
  padding: 13px 16px;
  display: flex;
}

.Input_29_57 {
  border: 1px solid rgba(71, 85, 105, 0.5);
  background: rgba(51, 65, 85, 0.5);
  box-sizing: border-box;
  border-radius: 9999px;
  flex-direction: column;
  flex: 1 0 0;
  align-items: flex-start;
  width: 100%;
  height: 44px;
  padding: 12px 17px;
  display: flex;
  overflow: hidden;
}

.Container_29_58 {
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 20px;
  padding-bottom: 1px;
  display: flex;
  overflow: hidden;
}

.TypeYourMessage_29_59 {
  color: var(--color-azure-65, #94a3b8);
  font-family: var(--font-family-Font-1, Inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-block;
}

.Component_2_29_60 {
  background: #2563eb;
  border-radius: 9999px;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;
  display: flex;
  cursor: pointer;
}

.Component_1_2_59 {
  width: 16px;
  height: 16px;
}